@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Spartan:wght@400;500&display=swap');

.Container{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 10%;
    background-color: #FF5E58;
    height: 74px;
    text-align: center;
}
.topNav{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 130px;
}

li {
    position: relative;
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    padding: 30px 30px;
    right: 55px;
}
.aboutMe{
    padding: 40px 40px;
    display: flex;
    max-width: auto;
    height: 750px;
}

.verbiage{
    width: 600px;
    height: 713px;
}

.about{
    top: 200px;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: black;
    margin: 0px 100px;
}

.hi{
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    color: #79A048;
    white-space: nowrap;
    margin: 0px 100px;
    padding: 20px 0px
}

p{
    font-family: 'Spartan', sans-serif;
    width: 600px;
    text-align: center;
    font-size: 15pt;
    line-height: 135%;
    margin: 30px 60px;
}

.heading{ 
    font-family: 'Playfair Display', serif;
    font-size: 88px;
    color: #79A048;
    text-align: center;
    margin: 0px 30px;
}

.flexContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px 150px;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 36px;
}

.flexContainer div{
    background-color: #FFA440;
}
.flexContainer img{
     margin: 0px 60px;
     align-items: center;
}

h2{
    text-align: center;
    font-family: 'Spartan', sans-serif;
    color: white;
    font-size: 18pt;
}

.heading2{
    font-family: 'Playfair Display', serif;
    font-size: 88px;
    color: #79A048;
    text-align: center;
    margin: 60px 0px;
}

#Tools img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: #FF5E58;
    margin-top: 119px;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.logo{
    position: relative;
    top: 12px;
}
.footerLinks{
    list-style: none;
    display: inline-block;
}
li a{
    position: relative;
    bottom: 60px;
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px 10px;
    justify-content: baseline;
}
li img:hover{
    font-weight:bold; 
}
li a:hover{
   font-weight:bold;
}
@media only screen and (max-width: 600){
.flexContainer div img{
    display: grid;
    flex-direction: column;
    width: 100%;
}
img {
    max-width:100%;
    height: 100vh;
}

.dialog {
    display:none;
}
ul > li > ul > li {
    cursor: pointer;
    color:blue;
}
